<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./bootstrap.php">
    <testsuites>
        <testsuite name="Bucket Test Suite">
            <directory>./tests/unit/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./library/Bucket/</directory>
        </whitelist>
    </filter>
</phpunit>